@import './shared.css';

.school-field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

.row-one,
.row-two {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.row-one > :nth-child(1) {
  flex: 2;
}

.row-one > :nth-child(2) {
  flex: 1;
}

.row-one > :nth-child(3) {
  flex: 1;
}

.row-two > :nth-child(1) {
  flex: 1;
}

.row-two > :nth-child(2) {
  flex: 1;
}

.row-two > :nth-child(3) {
  flex: 1;
}